@model EditProduct;
@{
    Layout = null;
}
@inject RPDbcontext context;
@{
    ViewBag.Title = "Edit Supplier";
    var avatarPath = $"/images/{(Model.ImagePath ?? "avatar1.jpg")}";
}

<form asp-controller="product" asp-action="EditProduct" method="post" enctype="multipart/form-data">
    @Html.HiddenFor(m => m.id)

    <div class="row">
        <div class="col-2">
            <label asp-for="ProductName"></label>
        </div>
        <div class="col-9">
            <input asp-for="ProductName" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <label asp-for="Price"></label>
        </div>
        <div class="col-9">
            <input asp-for="Price" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <label asp-for="Discount"></label>
        </div>
        <div class="col-9">
            <input asp-for="Discount" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <label asp-for="ImagePath"></label>
        </div>
        <div class="custom-file col-9">
            <input class="custom-file-input" asp-for="ImagePath" onchange="readURL(this);" type="file" />
            <label class="custom-file-label" for="customFile">choose file</label>
        </div>
        <div class="col-2"></div>
        <div>
            <img id="blah" style="width:200px;" src="@avatarPath" alt="Not Found" />
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <label asp-for="Images"></label>
        </div>
        <input class="col" id="ImageFiles" name="ImageFiles" asp-for="Images" type="file" onchange="preview(this);" multiple="multiple" /><br />
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div id="previewImg" class="row col-10">
            @foreach (var item in Model.Images)
            {
                int i = 0;
                <div class='row' id='p" + i + "' style='margin:10px;'><img style='width: 100px' class='thumb' src="~/images/@item.ImageName"><div><i class='fas fa-times-circle' onclick='xoa(@i);'></i></div></div>
                i++;
            }
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <label asp-for="Detail"></label>
        </div>
        <div class="col-9">
            <input asp-for="Detail" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <label asp-for="Typeid"></label>
        </div>
        <div class="col-9">
            <select asp-for="Typeid" class="form-control">
                @foreach (var item in context.TypeProducts.ToList())
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <label asp-for="Supplierid"></label>
        </div>
        <div class="col-9">
            <select asp-for="Supplierid" class="form-control">
                @foreach (var item in context.Suppliers.ToList())
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group-prepend" style="width:19.5%">
            <label class="input-group-text" style=" width:100%" asp-for="Description"></label>
        </div>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div style="">
        <button type="reset" class="btn btn-default" data-dismiss="modal">Close</button>
        <button class="btn btn-danger" onclick="toastr.success('Hi! I am info message.')">Save Product</button>
    </div>
</form>


<script>
    //$(document).ready(function () {
    //    $("#saveProduct").on("click",function () {
    //        var isValid = true;
    //        if (document.getElementById("ProductName").value == "") {

    //            $('#ProductName').siblings('span.error').text('Please enter Name');
    //            isValid = false;
    //        }
    //        else {
    //            $('#ProductName').siblings('span.error').text('');
    //        }

    //        if (document.getElementById("Price").value == "") {
    //            $('#Price').siblings('span.error').text('Please enter email');
    //            isValid = false;
    //        }
    //        else {
    //            $('#Price').siblings('span.error').text('');
    //        }

    //        if (isValid) {
    //            var formdata = new FormData();
    //            formdata.append('id', $('#id').val());
    //            formdata.append('ProductName', $('#ProductName').val());
    //            formdata.append('Price', $('#Price').val());
    //            formdata.append('Detail', $('#Detail').val());
    //            formdata.append('Typeid', $('#Typeid').val());
    //            formdata.append('Supplierid', $('#Supplierid').val());
    //            formdata.append('ImagePath', $('#ImagePath')[0].files[0]);
    //            //var myformdata = $("#myForm1").serialize();
    //            console.log(formdata);
    //            $.ajax({
    //                type: "POST",
    //                url: "/Product/EditProduct",
    //                data: formdata,
    //                contentType: false, // NEEDED, DON'T OMIT THIS (requires jQuery 1.6+)
    //                processData: false,
    //                success: function () {
    //                    alert("Update complete");

    //                    //$("#loaderDiv1").hie();
    //                    $('#newOrderModal').modal('hide');
    //                    toastr.success('Update Complete');
    //                }
    //            });
    //        }
    //    });
    //});
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blah').attr('src', e.target.result);
                };
                reader.readAsDataURL(input.files[0]);
            }
        };
    $(document).ready(function () {
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    });
</script>
<script>
    window.preview = function (input) {
        //if (input.files.length != 0) {
        $('#previewImg').empty();
        if (input.files && input.files[0]) {

            $(input.files).each(function (i, value) {
                var reader = new FileReader();
                reader.readAsDataURL(this);
                reader.onload = function (e) {
                    if (e != null) {
                        $("#previewImg").append("<div class='row' id='p" + i + "' style='margin:10px;'><img style='width: 100px' class='thumb'  src='" + e.target.result + "'><div><i class='fas fa-times-circle' onclick='xoa(" + i + ");'></i></div></div>");
                    }
                }
            });
        }

        //}
    }
    function xoa(i) { $(`#p${i}`).remove(); }
</script>
    <script src="~/lib/summernote/summernote-bs4.js"></script>
    <link href="~/lib/summernote/summernote-bs4.css" rel="stylesheet" />
    <script>
        $(document).ready(function () {
            $('#Description').summernote({
                height: 100,
                toolbar: [
                    ['style', ['bold', 'italic', 'underline', 'clear']],
                    ['font', ['strikethrough', 'superscript', 'subscript']],
                    ['fontsize', ['fontsize']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['height', ['height']],
                    ['insert', ['link', 'picture', 'video']]
                ]
            });
            document.getElementsByClassName('note-codable')[0].setAttribute("name", "Description");
        });
    </script>