@model List<RPShop.Models.ViewModels.CreateOder.OderView>;
@inject RPDbcontext context;
@{ ViewBag.Title = "Add Oder";}

    <div style="overflow:auto; width:auto; height:100px;">
        <table>
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Amout</th>
                    <th>Price</th>
                    <th>Manipulation</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                <tr>
                    <td>@item.ProductName</td>
                    <td>@item.Amount</td>
                    <td>@item.Price</td>
                    <td>
                        <a href="javascript:void(0)" class="text-danger" onclick="typeProduct.delete()"><i class="fas fa-plus"></i></a>
                    </td>
                </tr>

                }
            </tbody>
        </table>
    </div>
@*<form asp-controller="Oder" asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="row">
        <div>
            <label asp-for="Customer_id"></label>
        </div>
        <div>
            <select>
                @foreach(var item in Model)
                {

                    <option value="@item.Customer_id">@item.Customer_id</option>
                }
            </select>
        </div>
    </div>
    <div class="row">
        <div>
            <label asp-for="Employee_id"></label>
        </div>
        <div>
            <input asp-for="EmployeeName" class="form-control" />
        </div>
    </div>
    <button class="btn btn-outline-primary">Create</button>
</form>*@

